<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/static/images/logo.png}" type="image/x-icon">
    <style>
        /* Add your styles here */
        #default-section {
            display: block;
        }

        #uploaded-image {
            max-width: 100%;
            max-height: 200px;
            /* Set a maximum height for the displayed image */
            display: none;
            /* Initially hide the uploaded image */
        }

        .drag-over {
            border-color: #4F46E5;
            /* Change border color when dragging over */
        }
    </style>
    <title>Add Product</title>
</head>

<body>
<div id="app"><!--Main content-->
    <div class='active' id="sidebar" th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img alt="" src="/images/logo.png" srcset="" style="width: 100%; height: 100%; border-radius: 50%;">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class='sidebar-title'>Main Menu</li>
                    <li class="sidebar-item ">
                        <a class='sidebar-link' href="/user/dashboard">
                            <i data-feather="trending-up" width="20"></i>
                            <span>Dashboard</span>
                        </a>

                    </li>

                    <li class="sidebar-item ">
                        <a class='sidebar-link' href="/user/profile">
                            <i data-feather="user" width="20"></i>
                            <span>Profile</span>
                        </a>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' href="#">
                            <i data-feather="package" width="20"></i>
                            <span>Product</span>
                        </a>

                        <ul class="submenu ">
                            <li>
                                <a href="/product">Product Management</a>
                            </li>
                            <li>
                                <a href="/product/add">Add Product</a>
                            </li>
                        </ul>

                    </li>


                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' href="#">
                            <i data-feather="layers" width="20"></i>
                            <span>Staff</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="/user">Staff Management</a>
                            </li>

                            <li>
                                <a href="/user/add">Add Staff</a>
                            </li>

                        </ul>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' href="#">
                            <i data-feather="users" width="20"></i>
                            <span>Customer</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a href="/customer">Customer Management</a>
                            </li>
                            <li>
                                <a href="#">Search For Customer</a>
                            </li>
                        </ul>
                    </li>


                    <li class="sidebar-item  ">
                        <a class='sidebar-link' href="/">
                            <i data-feather="shopping-bag" width="20"></i>
                            <span>POS</span>
                        </a>

                    </li>

                    <li class="sidebar-item  ">
                        <a class='sidebar-link' href="/logout">
                            <i data-feather="log-out" width="20"></i>
                            <span>Logout</span>
                        </a>

                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main"><!--Content id-->
        <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header">
            <!--header-->
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="btn navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle nav-link-lg nav-link-user" data-bs-toggle="dropdown"
                           href="#">
                            <div class="avatar me-1">
                                <img alt="" src="" srcset="">
                            </div>
                            <div class="d-none d-md-block d-lg-inline-block">Hi User</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main-content container-fluid">
            <section class="dashboard-light">
                <div class="flex items-center space-x-2">
                    <a class="text-sm text-blue-600 hover:underline" th:href="@{/product}">Back to product
                        listing</a>
                </div>
                <form action="/product/add" enctype="multipart/form-data" method="POST">
                    <div class="shadow sm:rounded-md sm:overflow-hidden">
                        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                            <div class="grid grid-cols-3 gap-6">
                                <div class="col-span-3">
                                    <label class="block text-sm font-medium text-gray-700" for="productName">
                                        Product name
                                    </label>
                                    <input class="input-text focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md sm:text-sm border-gray-300 border p-3" id="productName" name="productName"
                                           placeholder="Enter product name"
                                           type="text">
                                </div>
                            </div>

                            <div class="grid grid-cols-3 gap-6">
                                <div class="col-span-3">
                                    <label class="block text-sm font-medium text-gray-700" for="barcode">
                                        Barcode
                                    </label>
                                    <input class="input-text focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border p-3" id="barcode" name="barcode"
                                           placeholder="Enter manually or use a machine to scan barcodes. (3-15 char)"
                                           type="text">
                                </div>
                            </div>

                            <div class="grid grid-cols-3 gap-6">
                                <div class="col-span-3 sm:col-span-1">
                                    <label class="block text-sm font-medium text-gray-700" for="retailPrice">
                                        Retail Price
                                    </label>
                                    <input class="input-text focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border p-3" id="retailPrice" name="retailPrice"
                                           placeholder="Enter retail price"
                                           type="text">
                                </div>
                                <div class="col-span-3 sm:col-span-1">
                                    <label class="block text-sm font-medium text-gray-700" for="importPrice">
                                        Import Price
                                    </label>
                                    <input class="input-text focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border p-3" id="importPrice" name="importPrice"
                                           placeholder="Enter import price"
                                           type="text">
                                </div>
                                <div class="col-span-3 sm:col-span-1">
                                    <label class="block text-sm font-medium text-gray-700" for="category">
                                        Category
                                    </label>
                                    <input class="input-text focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border p-3" id="category" name="category"
                                           placeholder="Enter category"
                                           type="text">
                                </div>
                            </div>

                            <div>
                                <label class="block text-sm font-medium text-gray-700">
                                    Product photo
                                </label>
                                <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
                                     id="upload-section"
                                     ondragleave="handleDragLeave(event)" ondragover="handleDragOver(event)"
                                     ondrop="handleDrop(event)">
                                    <div class="space-y-1 text-center">
                                        <svg aria-hidden="true" class="mx-auto h-12 w-12 text-gray-400"
                                             fill="none" id="default-section" stroke="currentColor"
                                             viewBox="0 0 48 48">
                                            <path
                                                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12m28-32l-14 14-4-4-10 10"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            </path>
                                        </svg>
                                        <img alt="Uploaded Image" class="mx-auto" id="uploaded-image" src="#">
                                        <div class="flex text-sm text-gray-600">
                                            <label class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                                                   for="picture">
                                                <span>Upload a file</span>
                                                <input accept="image/*" class="sr-only" id="picture" name="picture"
                                                       onchange="displayImage()" type="file">
                                            </label>
                                            <p class="pl-1">or drag and drop</p>
                                        </div>
                                        <p class="text-xs text-gray-500">
                                            PNG, JPG, GIF up to 10MB
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                                    type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <footer th:fragment="footer"><!--footer-->
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; THD POS</p>
                </div>
                <div class="float-end">
                    <p>Developed <span class='text-danger'><i data-feather="heart"></i></span> by <a href="#">GTV
                        Team</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/script.js">

</script>
<script>
    function displayImage() {
        //var uploadSection = document.getElementById('upload-section');
        var defaultSection = document.getElementById('default-section');
        var input = document.getElementById('picture');
        var image = document.getElementById('uploaded-image');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                image.src = e.target.result;
                image.style.display = 'block'; // Show the uploaded image
                defaultSection.style.display = 'none'; // Hide the upload section
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function handleDragOver(event) {
        event.preventDefault();
        var uploadSection = document.getElementById('upload-section');
        uploadSection.style.borderStyle = 'dashed'; // Add dashed border when dragging over
        uploadSection.classList.add('drag-over');
    }

    function handleDragLeave(event) {
        event.preventDefault();
        var uploadSection = document.getElementById('upload-section');
        uploadSection.style.borderStyle = 'none'; // Remove border when dragging leaves
        uploadSection.classList.remove('drag-over');
    }

    function handleDrop(event) {
        event.preventDefault();
        var uploadSection = document.getElementById('upload-section');
        var files = event.dataTransfer.files;

        // Handle dropped files as if they were selected via file input
        document.getElementById('picture').files = files;

        // Trigger the displayImage function
        displayImage();

        // Reset border style and remove drag-over class
        uploadSection.style.borderStyle = 'none';
        uploadSection.classList.remove('drag-over');
    }
</script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>

</html>