<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
            rel="stylesheet"
    />
    </style>
    <title>Admin Dashboard Panel</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/logo.png" alt="">
        </div>

        <span class="logo_name">CodingLab</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dahsboard</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Content</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Like</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name">Comment</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-share"></i>
                <span class="link-name">Share</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>

            <div class="mode-toggle">
            </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard bg-gray-200">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>

        <!--<img src="images/profile.jpg" alt="">-->
    </div>

    <div class="dash-content">
        <div class="overview p-5">
            <div class="title mb-5">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Dashboard</span>
            </div>

            <!-- Main section -->
            <div class="max-w-4xl mx-auto my-8">
                <form method="post" acction ="/admin/register">
                    <div class="bg-white p-6 rounded-md shadow-sm">
                        <div class="border-b border-gray-200 pb-4 mb-4">
                            <h3 class="text-lg font-semibold">Employee Information</h3>
                        </div>
                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1"  for="fullName">Employee's full name *</label>
                                <input required type="text" id="fullName" name="fullName" class="border-gray-300 mt-3 rounded-md shadow-sm w-full" style="height: 50px; padding: 10px;" placeholder="">
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700 mb-1"  for="email">Email *</label>
                                <input required type="text" id="email" name="email" class="border-gray-300 mt-3 rounded-md shadow-sm w-full" style="height: 50px; padding: 10px;" placeholder="">
                            </div>
                        </div>

                        <div class="border-b border-gray-200 pb-4 mb-4">
                            <h3 class="text-lg font-semibold">Staff roles</h3>
                        </div>
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1" for="role">Role *</label>
                            <select id="role" class="border-gray-300 rounded-md shadow-sm w-full mb-4">
                                <option>Choose a role</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex justify-between items-center mb-4 mt-3">
                        <a href="/admin/show-staff" class="text-blue-600 text-sm flex items-center">
                            &lt; Add new employees
                        </a>
                        <div>
                            <button class="text-gray-600 bg-white border border-gray-300 rounded-md px-4 py-2 mr-2">Cancel</button>
                            <button type="submit" class="text-white bg-blue-600 border border-blue-600 rounded-md px-4 py-2">Send invitations</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>

<script src="/script.js"></script>
</body>
</html>