<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User Detail</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.1.0/dist/css/fastbootstrap.min.css"
            integrity="sha256-7gHJpsgk5BJHsd/tOfDnH0qKNCzmTMJ8zv+UYYw9CXE="
            rel="stylesheet"
    />
    <script
            crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    ></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>


    <!--font awesome-->
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          referrerpolicy="no-referrer"
          rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

        body {
            font-family: "Roboto", sans-serif;
        }
    </style>

</head>

<body>
<div id="app"><!--Main content-->
    <div class='active' id="sidebar" th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img alt="" src="/images/logo.png" srcset="" style="width: 100%; height: 100%; border-radius: 50%;">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class='sidebar-title'>Main Menu</li>
                    <li class="sidebar-item ">
                        <a class='sidebar-link' href="/user/dashboard">
                            <i data-feather="trending-up" width="20"></i>
                            <span>Dashboard</span>
                        </a>

                    </li>

                    <li class="sidebar-item ">
                        <a class='sidebar-link' href="/user/profile">
                            <i data-feather="user" width="20"></i>
                            <span>Profile</span>
                        </a>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' href="#">
                            <i data-feather="package" width="20"></i>
                            <span>Product</span>
                        </a>

                        <ul class="submenu ">
                            <li>
                                <a href="/product">Product Management</a>
                            </li>
                            <li th:if="${utils.isAdmin(account)}">
                                <a href="/product/add">Add Product</a>
                            </li>
                        </ul>

                    </li>


                    <li class="sidebar-item  has-sub" th:if="${utils.isAdmin(account)}">
                        <a class='sidebar-link' href="#">
                            <i data-feather="layers" width="20"></i>
                            <span>Staff</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="/user">Staff Management</a>
                            </li>

                            <li>
                                <a href="/user/add">Add Staff</a>
                            </li>

                        </ul>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' href="#">
                            <i data-feather="users" width="20"></i>
                            <span>Customer</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a href="/customer">Customer Management</a>
                            </li>
                            <li>
                                <a href="#">Search For Customer</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  ">
                        <a class='sidebar-link' href="/">
                            <i data-feather="shopping-bag" width="20"></i>
                            <span>POS</span>
                        </a>

                    </li>

                    <li class="sidebar-item  ">
                        <a class='sidebar-link' href="/logout">
                            <i data-feather="log-out" width="20"></i>
                            <span>Logout</span>
                        </a>

                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main"><!--Content id-->
        <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header">
            <!--header-->
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="btn navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle nav-link-lg nav-link-user" data-bs-toggle="dropdown"
                           href="#">
                            <div class="avatar me-1">
                                <img alt="User Picture"
                                     th:if="${account.getPicture() != null}"
                                     th:src="'data:image/png;base64,' + ${imageUtils.encodeImage(account.getPicture())}"/>
                                <img alt="Default Avatar" src="/images/avatar-default.svg"
                                     th:unless="${account.getPicture() != null}"/>
                            </div>
                            <div class="d-none d-md-block d-lg-inline-block"
                                 th:text="'Hi '+ ${account.getFullName()}"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/user/profile"><i data-feather="user"></i> Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="max-w-6xl mx-auto p-6 bg-white shadow-md">
            <!-- Header -->
            <div
                    class="flex justify-between items-center border-b-2 border-gray-200 pb-4"
            >
                <div>
                    <a class="text-blue-600 text-sm" href="/user"> Back to staff list </a>
                    <h1 class="text-xl font-bold mt-2">
                        STAFFO<a class="mb-5" th:text="${staff.getAccountId()}"></a>
                    </h1>
                </div>

            </div>

            <!-- Customer Information -->
            <div class="mt-5 grid grid-cols-2 gap-4 border-b-2 border-gray-200 pb-4">
                <div>
                    <h2 class="text-lg font-semibold">Staff Information</h2>
                    <p class="text-sm text-gray-700 mt-2" th:text="'FullName ' + ${staff.getFullName()}">
                        Ms. Hoàng Thu Hào - 0935240482
                    </p>
                    <p class="text-sm text-gray-700" th:if="${staff.getPhone() != null}"
                       th:text="'Phone: ' + ${staff.phone}">0935240482</p>
                    <p class="text-sm text-gray-700" th:text="'Email: ' + ${staff.getEmail()}">
                        Quảng Bình, Ba Đình District, Hà Nội
                    </p>

                </div>
                <!-- staff's avatar -->
                <div class="mb-2 mx-auto">
                    <span class="relative">
                        <img
                                alt="User Picture"
                                class="h-32 w-32 rounded-full border border-black"
                                id="avatar"
                                th:if="${staff.getPicture() != null}"
                                th:src="'data:image/png;base64,' + ${imageUtils.encodeImage(staff.getPicture())}"
                        />
                        <img
                                alt="Default Avatar"
                                class="h-32 w-32 rounded-full border border-black"
                                src="/images/avatar-default.svg"
                                th:unless="${staff.getPicture() != null}"
                        />
                    </span>
                </div>
            </div>
            <!-- Product Information -->
            <div class="mt-4">
                <h2 class="text-lg font-semibold">Product Information</h2>
                <div class="mt-2">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th class="px-6 py-3" scope="col">Order ID</th>
                            <th class="px-6 py-3" scope="col">Order Date</th>
                            <th class="px-6 py-3" scope="col">Total Amount</th>
                            <th class="px-6 py-3" scope="col">Items</th>
                            <th class="px-6 py-3" scope="col">Customer</th>
                            <th class="px-6 py-3" scope="col">Detail</th>
                        </tr>
                        </thead>
                        <tbody th:each="order: ${orders}">
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4" th:text="${order.getOrderId()}">1</td>
                            <td class="px-6 py-4" th:text="${#dates.format(order.getOrderDate(), 'MM/dd/yyyy')}">
                                1-12-2023
                            </td>
                            <td class="px-6 py-4" th:text="${#numbers.formatCurrency(order.getTotalAmount())}">10</td>
                            <td class="px-6 py-4" th:text="${order.getQuantity()}">4</td>
                            <td class="px-6 py-4"
                                th:text="${customerService.getCustomerById(order.getCustomerId()).getName()}">Faker
                            </td>
                            <td class="px-6 py-4"><a
                                    th:href="@{/customer/{customerId}/invoice/{orderId}(customerId=${order.getCustomerId()}, orderId=${order.getOrderId()})}">
                                <i class="material-icons">picture_as_pdf</i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Order Summary -->
            <div class="mt-4 p-4 bg-gray-50 rounded-lg">
                <div class="flex justify-between">
                    <h2 class="text-lg font-semibold">Total (<a th:text="${orders.size()}"></a> Orders)</h2>
                    <h2 class="text-lg font-semibold" th:text="${#numbers.formatCurrency(totalAmount)}">100,000</h2>
                </div>
            </div>
        </div>

        <footer th:fragment="footer"><!--footer-->
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; THD POS</p>
                </div>
                <div class="float-end">
                    <p>Developed <span class='text-danger'><i data-feather="heart"></i></span> by <a
                            href="#">GTV Team</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/script.js"></script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<!--<script th:src="@{/js/dashboard.js}"></script>-->

<script th:src="@{/js/main.js}"></script>

<script>
</script>

<script>


</script>
</body>
</html>