<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" th:href="@{/static/images/logo.png}" type="image/x-icon"/>
    <style>
        #activated,
        #not-activated {
            font-weight: bold;
            /* Make the text bold */
        }

        #activated {
            color: #00a200;
        }

        /* Styles for not-activated status */
        #not-activated {
            color: red;
            /* or any other color indicating danger */
        }
    </style>
    <title>Staff Management</title>
</head>

<body>
<div id="app">
    <!--Main content-->
    <div class="active" id="sidebar" th:fragment="sidebar">
        <!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img alt="" src="/images/logo.png" srcset="" style="width: 100%; height: 100%; border-radius: 50%"/>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Main Menu</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/user/dashboard">
                            <i data-feather="trending-up" width="20"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/user/profile">
                            <i data-feather="user" width="20"></i>
                            <span>Profile</span>
                        </a>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a class="sidebar-link" href="#">
                            <i data-feather="package" width="20"></i>
                            <span>Product</span>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/product">Product Management</a>
                            </li>
                            <li>
                                <a href="/product/add">Add Product</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a class="sidebar-link" href="#">
                            <i data-feather="layers" width="20"></i>
                            <span>Staff</span>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/user">Staff Management</a>
                            </li>

                            <li>
                                <a href="/user/add">Add Staff</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a class="sidebar-link" href="#">
                            <i data-feather="users" width="20"></i>
                            <span>Customer</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="/customer">Customer Management</a>
                            </li>
                            <li>
                                <a href="#">Search For Customer</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/">
                            <i data-feather="shopping-bag" width="20"></i>
                            <span>POS</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/logout">
                            <i data-feather="log-out" width="20"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x">
                <i data-feather="x"></i>
            </button>
        </div>
    </div>

</div>

<div id="main">
    <!--Content id-->
    <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header">
        <!--header-->
        <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="btn navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle nav-link-lg nav-link-user" data-bs-toggle="dropdown" href="#">
                        <div class="avatar me-1">
                            <img alt="" src="" srcset=""/>
                        </div>
                        <div class="d-none d-md-block d-lg-inline-block">Hi User</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard-light">
        <div class="dash-content">
            <div class="overview">
                <div class="flex-1 overflow-x-hidden overflow-y-auto">
                    <div class="container mx-auto px-4 py-4">
                        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-4">
                                <h1 class="text-xl font-semibold">Staff management</h1>
                            </div>
                            <div class="mb-4">
                                <div class="flex justify-between items-center">
                                    <div class="text-lg font-semibold">All staffs</div>
                                    <div>
                                        <a class="ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                           onclick="showExportOptions()">
                                            Export
                                        </a>

                                        <!-- Export Options Modal -->
                                        <div aria-hidden="true" aria-labelledby="exportOptionsModalLabel" class="modal fade" id="exportOptionsModal"
                                             role="dialog" tabindex="-1">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exportOptionsModalLabel">Select
                                                            Export Format</h5>
                                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                                type="button"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="exportForm">
                                                            <div class="form-group">
                                                                <label for="fileFormat">Select File Format:</label>
                                                                <select class="form-control" id="fileFormat">
                                                                    <option value="CSV">CSV</option>
                                                                    <option value="XLSX">XLSX</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group form-check">
                                                                <input class="form-check-input" id="compress"
                                                                       name="compress" type="checkbox">
                                                                <label class="form-check-label" for="compress">Compress
                                                                    before download?</label>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal"
                                                                type="button">Close
                                                        </button>
                                                        <button class="btn btn-success" onclick="exportData()"
                                                                type="button">Export
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                                onclick="location.href='/user/add'">
                                            Add staff
                                        </button>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="search" placeholder="Search by email, phone number, employee name"
                                            type="text"/>
                                </div>
                            </div>
                            <div class="mb-4">
                                <table class="min-w-full leading-normal" id="table">
                                    <thead>
                                    <tr>
                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Avatar
                                        </th>

                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Employee's Name
                                        </th>
                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Phone number
                                        </th>
                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Email
                                        </th>
                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Is Activate
                                        </th>
                                        <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semi-bold text-gray-600 uppercase tracking-wider">
                                            Action
                                        </th>
                                        <!-- Add more table headers as needed -->
                                    </tr>
                                    </thead>
                                    <form id="user-info" method="post">
                                        <tbody th:each="staff : ${accounts}">
                                        <tr>
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <span class="avatar avatar-soft-secondary avatar-circle">
                              <img class="avatar-initials"
                                   th:if="${staff.getPicture()} != null"
                                   th:src="'data:image/png;base64,' + ${imageUtils.encodeImage(staff.getPicture())}">
                              <img src="/images/avatar-default.svg" th:unless="${staff.getPicture() != null}">
                            </span>
                                            </td>

                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                                                th:text="${staff.getFullName()}"></td>
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                                                th:text="${staff.phone}"></td>
                                            <!-- Add more columns with employee data as needed -->
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                                                th:text="${staff.email}">
                                            </td>
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"
                                                th:id="${staff.activate ? 'activated' : 'not-activated'}"
                                                th:text="${staff.activate ? 'Activated' : 'Not Activated'}">

                                            </td>
                                            <!-- Button at the end of the row -->
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                <div class="btn-group" th:switch="${staff.isStatus()}">
                                                    <button class="btn l-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded btn-block" th:case="${true}"
                                                            th:data-id="${staff.getAccountId()}"
                                                            type="button">
                                                        Block
                                                    </button>
                                                    <button class="btn l-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded btn-enable" th:case="${false}"
                                                            th:data-id="${staff.getAccountId()}"
                                                            type="button">
                                                        Enable
                                                    </button>
                                                    <button aria-expanded="false"
                                                            class="btn ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded"
                                                            data-bs-reference="parent" data-bs-toggle="dropdown"
                                                            type="button">
                                                        <svg class="h-5 w-5" fill="none"
                                                             stroke="currentColor" viewBox="0 0 24 24"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19 9l-7 7-7-7" stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                  stroke-width="2"/>
                                                        </svg>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item btn-detail"
                                                               th:data-id="${staff.getAccountId()}"
                                                               type="submit">Detail</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" id="btn-resend"
                                                               th:data-id="${staff.getAccountId()}"
                                                               th:if="${staff.isActivate == false}" type="submit">Resend
                                                                email</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" id="btn-delete"
                                                               th:data-id="${staff.getAccountId()}"
                                                               type="submit">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </form>
                                </table>
                            </div>
                            <div class="flex justify-between items-center">
                                <div>
                                    <!-- Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer th:fragment="footer">
    <!--footer-->
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2023 &copy; THD POS</p>
        </div>
        <div class="float-end">
            <p>
                Developed
                <span class="text-danger"><i data-feather="heart"></i></span> by
                <a href="#">GTV Team</a>
            </p>
        </div>
    </div>
</footer>
</div>
</div>

<script th:src="@{/script.js}"></script>
<script>
    $(".btn-block").click((e) => {
        const btn = e.target;
        const id = $(btn).data("id");

        $("#user-info").attr("action", "user/block/" + id);
        $("#user-info").submit();
    });

    $(".btn-enable").click((e) => {
        const btn = e.target;
        const id = $(btn).data("id");

        $("#user-info").attr("action", "user/enable/" + id);
        $("#user-info").submit();
    });

    $(document).ready(function () {
        $(".btn-detail").click((e) => {
            const btn = e.target;
            const id = $(btn).data("id");

            console.log(id)

            window.location.pathname = '/user/' + id;
        });
    })


    $(document).on("click", "#btn-delete", function (e) {
        const btn = e.target;
        const id = $(btn).data("id");

        if (confirm("Are you sure you want to delete this user?")) {
            $.ajax({
                type: "POST",
                url: "user/delete/" + id,
                success: function (response) {
                    console.log("User deleted successfully");
                    location.reload();
                },
                error: function (error) {
                    console.error("Error deleting user", error);
                }
            });
        }
    });

    $(document).on("click", "#btn-resend", function (e) {
        const btn = e.target;
        const id = $(btn).data("id");

        // AJAX request to resend email
        $.ajax({
            type: "POST",
            url: "user/resend/" + id,
            success: function (response) {
                console.log("Email resend initiated successfully");
            },
            error: function (error) {
                console.error("Error initiating email resend", error);
            }
        });
    });

</script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<!--    <script th:src="@{/js/app.js}"></script>-->

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script>
    function showExportOptions() {
        $('#exportOptionsModal').modal('show');
    }

    function exportData() {
        var fileFormat = $('#fileFormat').val();
        var compress = $('#compress').prop('checked');
        var url = "/user/export?format=" + fileFormat + "&compress=" + compress;
        window.location.href = url;
        $('#exportOptionsModal').modal('hide');
    }

    $('.btn-close, .btn-secondary').click(function () {
        $('#exportOptionsModal').modal('hide');
    });
</script>

</body>

</html>