<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
<div id="app"><!--Main content-->
    <div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img src="/images/logo.png" alt="" srcset="" style="width: 100%; height: 100%; border-radius: 50%;">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class='sidebar-title'>Main Menu</li>
                    <li class="sidebar-item ">
                        <a href="/user/dashboard" class='sidebar-link'>
                            <i data-feather="trending-up" width="20"></i>
                            <span>Dashboard</span>
                        </a>

                    </li>

                    <li class="sidebar-item ">
                        <a href="/user/profile" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Profile</span>
                        </a>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="package" width="20"></i>
                            <span>Product</span>
                        </a>

                        <ul class="submenu ">
                            <li>
                                <a href="/product">Product Management</a>
                            </li>
                            <li>
                                <a href="/product/add">Add Product</a>
                            </li>
                            <li>
                                <a href="#">Search for Product</a>
                            </li>
                        </ul>

                    </li>




                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>Staff</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="/user">Staff Management</a>
                            </li>

                            <li>
                                <a href="/user/add">Add Staff</a>
                            </li>

                        </ul>

                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="users" width="20"></i>
                            <span>Customer</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a href="/customer">Customer Management</a>
                            </li>
                            <li>
                                <a href="#">Search For Customer</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="archive" width="20"></i>
                            <span>Order</span>
                        </a>
                        <ul class="submenu ">
                            <li>
                                <a href="/order">Order Management</a>
                            </li>
                            <li>
                                <a href="#">Search For Order</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item  ">
                        <a href="/" class='sidebar-link'>
                            <i data-feather="shopping-bag" width="20"></i>
                            <span>POS</span>
                        </a>

                    </li>

                    <li class="sidebar-item  ">
                        <a href="/logout" class='sidebar-link'>
                            <i data-feather="log-out" width="20"></i>
                            <span>Logout</span>
                        </a>

                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main"><!--Content id-->
        <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header">
            <!--header-->
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                    <li class="dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <div class="avatar me-1">
                                <img th:if="${account.getPicture() != null}" th:src="'data:image/png;base64,' + ${imageUtils.encodeImage(account.getPicture())}" alt="User Picture"/>
                                <img th:unless="${account.getPicture() != null}" src="/images/avatar-default.svg" alt="Default Avatar"/>
                            </div>
                            <div class="d-none d-md-block d-lg-inline-block" th:text="'Hi '+ ${account.getFullName()}"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/user/profile"><i data-feather="user"></i> Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-content container-fluid" >
            <div class="page-title">
                <h3>Dashboard <span th:text="${title}"></span></h3>
            </div>
            <section class="section">
                <div class="row mb-2">
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>BALANCE</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>$50 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas1" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>Revenue</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>$532,2 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas2" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>ORDERS</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>1,544 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas3" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>Sales</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>423 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas4" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <form onsubmit="return validateDateRange()">
                        <div class="form-row">
                            <div class="col-md-3 form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                <label for="startDate">Form </label>
                                <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Select From Date" autocomplete="off">
                            </div>
                            <div class="col-md-3 form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                <label for="endDate">To </label>
                                <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Select To Date" autocomplete="off">
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="btn-group" role="group" aria-label="Date Buttons">
                                    <button type="button" class="btn btn-primary" onclick="setDateRange('today')">Today</button>
                                    <button type="button" class="btn btn-primary" onclick="setDateRange('yesterday')">Yesterday</button>
                                    <button type="button" class="btn btn-primary" onclick="setDateRange('last7days')">Last 7 Days</button>
                                    <button type="button" class="btn btn-primary" onclick="setDateRange('thismonth')">This Month</button>
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>



                </div>


                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="card d-flex flex-column h-100">
                            <div class="card-header">
                                <h3 class='card-heading p-1 pl-3'>Sales</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="pl-3">
                                            <h1 class='mt-5'>$21,102</h1>
                                            <p class='text-xs'><span class="text-green"><i data-feather="bar-chart"
                                                                                           width="15"></i> +19%</span> than last month</p>
                                            <div class="legends">
                                                <div class="legend d-flex flex-row align-items-center">
                                                    <div class='w-3 h-3 rounded-full bg-info me-2'></div><span
                                                        class='text-xs'>Last Month</span>
                                                </div>
                                                <div class="legend d-flex flex-row align-items-center">
                                                    <div class='w-3 h-3 rounded-full bg-blue me-2'></div><span
                                                        class='text-xs'>Current Month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <canvas id="bar"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card d-flex flex-column h-100">
                            <div class="card-header">
                                <h4>Your Earnings</h4>
                            </div>
                            <div class="card-body">
                                <div id="radialBars"></div>
                                <div class="text-center mb-5">
                                    <h6>From last month</h6>
                                    <h1 class='text-green'>+$2,134</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title" >Orders</h4>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Items</th>
                                <th>Customer</th>
                                <th>Process By</th>
                            </tr>
                            </thead>
                            <tbody th:each="order: ${orders}">
                            <tr>
                                <td th:text="${order.getOrderId()}"></td>
                                <td th:text="${#dates.format(order.getOrderDate(), 'MM/dd/yyyy')}"></td>
                                <td th:text="${#numbers.formatCurrency(order.getTotalAmount())}"></td>
                                <td th:text="${order.getQuantity()}"></td>
                                <td th:text="${customerService.getCustomerById(order.getCustomerId()).getName()}"></td>
                                <td th:text="${accountService.getAccountById(order.getAccountId()).getFullName()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer th:fragment="footer"><!--footer-->
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; THD POS</p>
                </div>
                <div class="float-end">
                    <p>Developed <span class='text-danger'><i data-feather="heart"></i></span> by <a
                            href="#">GTV Team</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/script.js"></script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script>
    $(document).ready(function(){
        var today = new Date();
        $('#startDate').datepicker({
            format: 'MM/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', today);

        today.setDate(today.getDate() + 1)
        var endDate = today;
        $('#endDate').datepicker({
            format: 'MM/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', endDate);
    });

    function validateDateRange() {
        var fromDate = $('#startDate').datepicker('getDate');
        var toDate = $('#endDate').datepicker('getDate');

        if (fromDate && toDate && fromDate > toDate) {
            alert('Invalid date range. "From" date should be less than or equal to "To" date.');
            return false;
        }

        return true;
    }

    function setDateRange(range) {
        var today = new Date();
        var startDate, endDate;

        switch (range) {
            case 'today':
                startDate = today;
                endDate = today;
                break;
            case 'yesterday':
                today.setDate(today.getDate() - 1);
                startDate = today;
                endDate = new Date();
                break;
            case 'last7days':
                startDate = new Date(today);
                startDate.setDate(today.getDate() - 6);
                endDate = today;
                break;
            case 'thismonth':
                startDate = new Date(today.getFullYear(), today.getMonth(), 1);
                endDate = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                break;
        }

        $('#startDate').datepicker('setDate', startDate);
        $('#endDate').datepicker('setDate', endDate);
    }
</script>

</body>
</html>