<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/static/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app"><!--Main content-->
    <div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img src="#" alt="" srcset="">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">


                    <li class='sidebar-title'>Main Menu</li>



                    <li class="sidebar-item active ">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="home" width="20"></i>
                            <span>Dashboard</span>
                        </a>

                    </li>




                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="triangle" width="20"></i>
                            <span>Components</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">Alert</a>
                            </li>

                            <li>
                                <a href="#">Badge</a>
                            </li>

                            <li>
                                <a href="#">Breadcrumb</a>
                            </li>

                            <li>
                                <a href="#">Buttons</a>
                            </li>

                            <li>
                                <a href="#">Card</a>
                            </li>

                            <li>
                                <a href="#">Carousel</a>
                            </li>

                            <li>
                                <a href="#">Dropdowns</a>
                            </li>

                            <li>
                                <a href="#">List Group</a>
                            </li>

                            <li>
                                <a href="#">Modal</a>
                            </li>

                            <li>
                                <a href="#">Navs</a>
                            </li>

                            <li>
                                <a href="#">Pagination</a>
                            </li>

                            <li>
                                <a href="#">Progress</a>
                            </li>

                            <li>
                                <a href="#">Spinners</a>
                            </li>

                            <li>
                                <a href="#">Tooltips</a>
                            </li>

                        </ul>

                    </li>




                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="briefcase" width="20"></i>
                            <span>Extra Components</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">Avatar</a>
                            </li>

                            <li>
                                <a href="#">Divider</a>
                            </li>

                        </ul>

                    </li>




                    <li class='sidebar-title'>Forms &amp; Tables</li>



                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="file-text" width="20"></i>
                            <span>Form Elements</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">Input</a>
                            </li>

                            <li>
                                <a href="#">Input Group</a>
                            </li>

                            <li>
                                <a href="#">Select</a>
                            </li>

                            <li>
                                <a href="#">Radio</a>
                            </li>

                            <li>
                                <a href="#">Checkbox</a>
                            </li>

                            <li>
                                <a href="#">Textarea</a>
                            </li>

                        </ul>

                    </li>




                    <li class="sidebar-item  ">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="layout" width="20"></i>
                            <span>Form Layout</span>
                        </a>

                    </li>




                    <li class="sidebar-item  ">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>Form Editor</span>
                        </a>

                    </li>




                    <li class="sidebar-item  ">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="grid" width="20"></i>
                            <span>Table</span>
                        </a>

                    </li>




                    <li class="sidebar-item  ">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="file-plus" width="20"></i>
                            <span>Datatable</span>
                        </a>

                    </li>




                    <li class='sidebar-title'>Extra UI</li>



                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Widgets</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">Chatbox</a>
                            </li>

                            <li>
                                <a href="#">Pricing</a>
                            </li>

                            <li>
                                <a href="#">To-do List</a>
                            </li>

                        </ul>

                    </li>




                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="trending-up" width="20"></i>
                            <span>Charts</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">ChartJS</a>
                            </li>

                            <li>
                                <a href="#">Apexchart</a>
                            </li>

                        </ul>

                    </li>




                    <li class='sidebar-title'>Pages</li>



                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Authentication</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">Login</a>
                            </li>

                            <li>
                                <a href="#">Register</a>
                            </li>

                            <li>
                                <a href="#">Forgot Password</a>
                            </li>

                        </ul>

                    </li>




                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="alert-circle" width="20"></i>
                            <span>Errors</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a href="#">403</a>
                            </li>

                            <li>
                                <a href="#">404</a>
                            </li>

                            <li>
                                <a href="#">500</a>
                            </li>

                        </ul>

                    </li>




                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main"><!--Content id-->
        <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header"><!--header-->
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                    <li class="dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <div class="avatar me-1">
                                <img src="" alt="" srcset="">
                            </div>
                            <div class="d-none d-md-block d-lg-inline-block">Hi User</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-content container-fluid" >
            <div class="page-title">
                <h3>Dashboard</h3>
            </div>
            <section class="section">
                <div class="row mb-2">
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>BALANCE</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>$50 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas1" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>Revenue</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>$532,2 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas2" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>ORDERS</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>1,544 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas3" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card card-statistic">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                        <h3 class='card-title'>Sales Today</h3>
                                        <div class="card-right d-flex align-items-center">
                                            <p>423 </p>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="canvas4" style="height:100px !important"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="card d-flex flex-column h-100">
                            <div class="card-header">
                                <h3 class='card-heading p-1 pl-3'>Sales</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="pl-3">
                                            <h1 class='mt-5'>$21,102</h1>
                                            <p class='text-xs'><span class="text-green"><i data-feather="bar-chart"
                                                                                           width="15"></i> +19%</span> than last month</p>
                                            <div class="legends">
                                                <div class="legend d-flex flex-row align-items-center">
                                                    <div class='w-3 h-3 rounded-full bg-info me-2'></div><span
                                                        class='text-xs'>Last Month</span>
                                                </div>
                                                <div class="legend d-flex flex-row align-items-center">
                                                    <div class='w-3 h-3 rounded-full bg-blue me-2'></div><span
                                                        class='text-xs'>Current Month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <canvas id="bar"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card d-flex flex-column h-100">
                            <div class="card-header">
                                <h4>Your Earnings</h4>
                            </div>
                            <div class="card-body">
                                <div id="radialBars"></div>
                                <div class="text-center mb-5">
                                    <h6>From last month</h6>
                                    <h1 class='text-green'>+$2,134</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:fragment="footer"><!--footer-->
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; THD POS</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a
                            href="#">GTV Team</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>
</html>