<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Inventory Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="bg-white p-10 rounded-lg shadow-lg w-3/4 max-w-4xl">
    <div class="flex">
        <!-- Left side with form -->
        <div class="w-1/2 p-5 border-r">
            <h1 class="text-2xl font-bold mb-2">GTV Company</h1>
            <p class="mb-10">Point Of Sale System</p>
            <div class="bg-gray-100 p-8 rounded-lg">
                <h2 class="text-xl font-semibold mb-6">Login</h2>
                <form method="post" action="/login">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            <i class="fas fa-user mr-2"></i>Email Address
                        </label>
                        <input name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email Address">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            <i class="fas fa-lock mr-2"></i>Password
                        </label>
                        <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password">
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 w-full rounded focus:outline-none focus:shadow-outline" type="submit">Log in</button>
                    </div>

                </form>
            </div>
        </div>
        <!-- Right side with image -->
        <div class="w-1/2 flex items-center justify-center">
            <img alt="Illustration of a person standing next to a cash register, representing an inventory management system" class="max-w-xs" src="/images/login_image.png" width="650" height="800">
        </div>
    </div>
</div>
</body>
</html>